<%= conf.confname %>
<a href="#" rel="popover" title="<%= conf.confname %>" data-content="XXXXXXX,XXXXXXX,XXXXXXX,XXXXXXX">Participants(<%= @participants_hash[conf.confname].count %>)</a>, 
Guest PIN: <%= conf.pin %>, 
Invite contacts through <a href="#">Phone</a> or <a href="#">Text</a> <br/> 
Notes:_________________________________________________________________