<h3>Active Calls (<%=@call_count%>)</h3>       
<ul>
  <% @call_list.each do |call| %>
	<li>
		<% if call.caller_name.nil? or call.caller_name.empty? %>
			<p>Uknown Caller</p>
		<% else %>
			<p>call_caller_name.to_s.capitalize </p>
		<% end %>
		<p>From:<%= call.from %></p>
		<p>To:<%= call.to %></p>
		<p>Direction: <%= call.direction %></p>
		<p>Duration: </p>
		<hr></hr>	
	</li>
  <% end %>
</ul>