<div class="hero-unit">
	
	<div class="conference_list_items">
	</div> <!--  end .conference_list_items-->	
	
	<div class="span6">
		<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
		<div class="participant_list_items">
		</div> <!--  end .participant_list_items-->	
	</div>
</div> <!--end hero-unit-->