<div class="sidebar">
	<div id="dropintowaitingroom">
		<div class="well">
			<div class="waiting_room_list_items">
		    </div> <!--  end .waiting_list_items-->	
	    </div><!--end .well-->
	</div><!-- end #makeMeDroppable-->
	
	
	<div class="well">
			<!-- Insert the call list here-->
	    	<div class="call_list_items">
	    	</div> <!--  end .call_list_items-->
    </div><!--end .well-->
</div><!--end .sidebar-->

<script>
	//Droppable scripts for the Queue
	$(function() {
			//Allows the calls to be droppable into Queue/Waiting Room
			$( "#dropintowaitingroom" ).droppable({
				hoverClass: "hover-over-queue",
    			drop: handleDropEventIntoWaitingRoom,
    			accept: function(d) { 
        			//if(d.attr("id")=="P*"||(d.attr("id")=="C*")){
        			//regex test to see if id of call starts with C or P, as in from call list of participant list	
        			var testid = d.attr("id");
            		if( testid.match(/^(C|P)\w/) ){
            		return true;
        			}
    			}
  			});
  	});		
  	
	function handleDropEventIntoWaitingRoom( event, ui ) {
		//feedback to the user
		$(".waiting_room_list_items").find("h3").html("Adding Call");
		var draggable = ui.draggable;
		//strips off the first character from a (P)articipant, a (Q)ueu, or a (C)all SID 
		var sid = draggable.attr('id').substring(1);
		//drop into waiting room
		var url = '<%=BASE_URL%>' + '/dashboard/drop_into_waiting_room/?sid=' + sid;
		//post to url
		$.post(url);
		//update the waiting_room
		//clearTimeout(waitingroomtimer)
		//waitingroomtimer = setTimeout(replace_waiting_room_list(), 3000);
		//window.setTimeout(replace_waiting_room_list, 3000);
		//replace_waiting_room_list();
	}
</script>

<script>
	//Script that updates the waiting room list every few seconds
	function replace_waiting_room_list() {
		// Do a $.ajax call to your server.
		$.ajax({
			url: '/dashboard/update_waiting_room_list',
			type: 'get',
			dateType: 'html',
			success: function(data) {
				// Replace the list with the new one.
				$('.waiting_room_list_items').html(data);
				// And restart the timer.
				window.setTimeout(replace_waiting_room_list, 1000);
			}
		});
	}
	replace_waiting_room_list();
</script> 

<script>
	//Script that updates the call list every few seconds
	function replace_call_list() {
		// Do a $.ajax call to your server.
		$.ajax({
			url: '/dashboard/update_call_list',
			type: 'get',
			dateType: 'html',
			success: function(data) {
				// Replace the list with the new one.
				$('.call_list_items').html(data);
				// And restart the timer.
				window.setTimeout(replace_call_list, 1000);
			}
		});
	}
	replace_call_list();
</script>

