<div class="sidebar">
	
	<script>
	function handleDropEventIntoWaitingRoom( event, ui ) {
	  		var draggable = ui.draggable;
	  		//strips off the first character
	  		var sid = draggable.attr('id').substring(1);
	  		var url = '<%=BASE_URL%>' + '/dashboard/drop_into_waiting_room/?sid=' + sid
	  		$.post(url);
		}
	</script>
	
	<div id="dropintowaitingroom">
		<div class="well">
			<div class="waiting_room_list_items">
		    </div> <!--  end .waiting_list_items-->	
	    </div><!--end .well-->
	</div><!-- end #makeMeDroppable-->
	
	
	<div class="well">
			<!-- Insert the call list here-->
	    	<div class="call_list_items">
	    	</div> <!--  end .call_list_items-->
    </div><!--end .well-->
</div><!--end .sidebar-->

<script>
	//Script that updates the waiting room list every few seconds
	function replace_waiting_room_list() {
	// Do a $.ajax call to your server.
	$.ajax({
		url: '/dashboard/update_waiting_room_list',
		type: 'get',
		dateType: 'html',
		success: function(data) {
			// Replace the list with the new one.
			$('.waiting_room_list_items').html(data);
			// And restart the timer.
			window.setTimeout(replace_waiting_room_list, 1000);
		}//,
		//failure: alert("ajax failed to get")
	});
}
replace_waiting_room_list();
</script> 

<script>
	//Script that updates the call list every few seconds
	function replace_call_list() {
	// Do a $.ajax call to your server.
	$.ajax({
		url: '/dashboard/update_call_list',
		type: 'get',
		dateType: 'html',
		success: function(data) {
			// Replace the list with the new one.
			$('.call_list_items').html(data);
			// And restart the timer.
			window.setTimeout(replace_call_list, 1000);
		}//,
		//failure: alert("ajax failed to get")
	});
}
replace_call_list();
</script>

