<div class="sidebar">
	<div class="well">
			<!-- Insert the call list here-->
	    	<div class="call_list_items">
	    	</div> <!--  end .call_list_items-->
    </div><!--end .well-->

	<script>
		//Script that updates the call list every few seconds
		function replace_call_list() {
		// Do a $.ajax call to your server.
		$.ajax({
			url: '/dashboard/update_call_list',
			type: 'get',
			dateType: 'html',
			success: function(data) {
				// Replace the list with the new one.
				$('.call_list_items').html(data);
				// And restart the timer.
				window.setTimeout(replace_call_list, 2000);
			}//,
			//failure: alert("ajax failed to get")
		});
	}
	replace_call_list();
	</script>

	<div class="well">
        	<h3>Call Queue (#)</h3>
        	<ul>
	            <li><a href="#">Link</a></li>
	            <li><a href="#">Link</a></li>
        	</ul>
    </div><!--end .well-->
    
    
</div><!--end .sidebar-->