<div class="sidebar">
	<div class="well">
			<h3>Active Calls (<span id="call-list-count">0</span>)</h3>
			<!-- Insert the call list here-->
	    	<div class="call_list_items">	
	    	</div> <!--  end .call_list_items-->
	    	<input type="hidden" name="sidstr" value="" id="sidstr" />
    </div><!--end .well-->
</div><!--end .sidebar-->

<script>

$(document).ready(function() {
	//resets the sid list value when a user refreshes the browser
	$("#sidstr").attr("value","");
	//updates the call list every few seconds
	setInterval(function(){
			var urlforcalllist = '/dashboard/update_call_list_from_db?sidstr=' + $("#sidstr").attr("value")
			$.ajax({
				url: urlforcalllist,
				type: 'get',
				dateType: 'html',
				asynch: false,
				success: function(data) {
					$(".call_list_items").append(data);
				} //end success
			});//end ajax
	}, 2000); //end setInterval
}); //end doc.ready
</script>

<!-- 
<script>
$(document).ready(function() {
	$("#sidstr").attr("value","");
	
	function get_call_list() {
		var urlforcalllist = '/dashboard/update_call_list_from_db?sidstr=' + $("#sidstr").attr("value");
		$.ajax({
			url: urlforcalllist,
			type: 'get',
			dateType: 'html',
			success: function(data) {
				$(".call_list_items").append(data);
			} //end success
		});//end ajax
		$(get_call_list()).delay(2000);
	}
	
	get_call_list();
});
</script>
-->
