<h3>Call Queue (<%=@wait_count%>)</h3>       

<% @waiting_participants.each do |call| %>
	<button class="btn primary_phone makeMeDraggable">
		<p><%= get_caller_name(call) %></p>
		<p>From:<%= call.from %></p>
		<p>To:<%= call.to %></p>
	</button>
<% end %>
