<div class="container-fluid">
	<%= render "dashboard/sidebarfromdb" %>
    <div class="content">
    	<%= render "dashboard/conferenceparticipantlistfromdb"%>
		<%= render "dashboard/contactlist" %> 
    </div><!--end .content> -->
</div> <!-- end .container-fluid-->