<div class="container-fluid">
	<%= render "dashboard/sidebar" %>
    <div class="content">
    	<%= render "dashboard/conferenceparticipantlist"%>
		<%= render "dashboard/contactlist" %> 
    </div><!--end .content> -->
</div> <!-- end .container-fluid-->
<script>
	$(function() {
			//Allows the calls to be droppable into Queue, Conference, and Participant lists
			$( "#dropintowaitingroom" ).droppable({
				hoverClass: "ui-state-active"
    			drop: handleDropEventIntoWaitingRoom
  			});
  			
  			function handleDropEventIntoWaitingRoom( event, ui ) {
	  			var draggable = ui.draggable;
	  			//strips off the first character
	  			var sid = draggable.attr('id').substring(1);
	  			var url = '<%=BASE_URL%>' + '/dashboard/drop_into_waiting_room/?sid=' + sid
	  			$.post(url);
	  			replace_waiting_room_list()
			}
	});
	
	$(function() {
		$( "#dropintoparticipantlist" ).droppable({
    			drop: handleDropEventIntoParticipantList
  		});
	});
	
	$(function() {
		$( "#dropintoconferencelist" ).droppable({
    			drop: handleDropEventIntoConferenceList
  		});
	});

</script>