<div class="container-fluid">
	<%= render "dashboard/sidebar" %>
    <div class="content">
    	<%= render "dashboard/conferenceparticipantlist"%>
		<%= render "dashboard/contactlist" %> 
    </div><!--end .content> -->
</div> <!-- end .container-fluid-->
<script>
	$(function() {
			//Allows the calls to be droppable into Queue, Conference, and Participant lists
			$( "#dropintowaitingroom" ).droppable({
				hoverClass: "hover-over-queue",
    			drop: handleDropEventIntoWaitingRoom
  			});
  			
  			function handleDropEventIntoWaitingRoom( event, ui ) {
  				$( this ).find( "h3" ).html( "Updating" );
	  			var draggable = ui.draggable;
	  			//strips off the first character from a (P)articipant, a (Q)ueu, or a (C)all SID 
	  			var sid = draggable.attr('id').substring(1);
	  			
	  			//drop into waiting room
	  			var url = '<%=BASE_URL%>' + '/dashboard/drop_into_waiting_room/?sid=' + sid
	  			
	  			//post to url
	  			$.post(url);
	  			
	  			//update the waiting_room
	  			//replace_waiting_room_list()
			}
	});
	
	$(function() {
		$( "#dropintoparticipantlist" ).droppable({
    			drop: handleDropEventIntoParticipantList
  		});
	});
	
	$(function() {
		$( "#dropintoconferencelist" ).droppable({
    			drop: handleDropEventIntoConferenceList
  		});
	});

</script>