<div class="container-fluid">
	<%#= render "dashboard/sidebar" %>
    <div class="content">
    	<%= render "dashboard/conferenceneatlist"%>
		<%= render "dashboard/contactlist" %> 
    </div><!--end .content> -->
</div> <!-- end .container-fluid-->
