<div class="container-fluid">
	<%= render "dashboard/sidebar" %>
    <div class="content">
		<%= render "dashboard/conferencelist"%>
		<%= render "dashboard/contactlist" %> 
    </div><!--end .content> -->
</div> <!-- end .container-fluid-->
