<div class="container-fluid">
	<%= render "dashboard/sidebar" %>
    <div class="content">
    	<div class="demo">
    			<style>
					#draggable, #draggable2 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 0 10px 10px 0; background: blue;}
				</style>
    		
    		
			<div id="draggable" class="ui-widget-content">
				<p>Revert the original</p>
			</div>

			<div id="draggable2" class="ui-widget-content">
				<p>Revert the helper</p>
			</div>
		</div><!-- End demo -->
		<%#= render "dashboard/conferencelist"%>
		<%#= render "dashboard/contactlist" %> 
    </div><!--end .content> -->
</div> <!-- end .container-fluid-->
