<div class="container-fluid">
	<%= render "dashboard/sidebar" %>
	
      <div class="content">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
        	<h3>Active Conference Groups</h3>
		<ul>
            	<li>Conference 1,
				<a href="#" rel="popover" title="%CONFERENCE NAME%" data-content="XXXXXXX,XXXXXXX,XXXXXXX,XXXXXXX">Participants(#)</a>, 
				Guest PIN: ____, 
				Invite contacts through <a href="#">Phone</a> or <a href="#">Text</a> <br/> 
				Notes:_________________________________________________________________
			</li>           	

				</li>
			<li>Conference 3, <a href="#">Participants(#)</a>, Guest PIN: ____, Invite contacts through <a href="#">Phone</a> or <a href="#">Text</a> <br/> 
			Notes:_________________________________________________________________
			</li>
          	</ul> 
		<h3>Available Conference Lines</h3>
		<ul>
            	<li>Conference A, Set Guest Pin ____, Invite contacts through <a href="#">Phone</a> or <a href="#">Text</a></li>
            	<li>Conference B, Set Guest Pin ____, <a href="#">Invite Contacts</a></li>
            	<li>Conference C, Set Guest Pin ____, <a href="#">Invite Contacts</a></li>
          	</ul> 
        </div> <!--end hero-unit-->

	<!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
        	<h3>Contact List</h3>
          	<ul>
            	<li><a href="#">Conference Link 1</a></li>
           		<li><a href="#">Conference Link 2</a></li>
				<li><a href="#">Conference Link 3</a></li>
          	</ul> 
			<p>Etiam porta sem malesuada magna mollis euismod. Integer 
			posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu 
			leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. 
			Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget 
			lacinia odio sem nec elit.</p>         
	  		<p><a class="btn primary large">Learn more »</a></p>
        </div> <!--end .hero-unit-->
       
      </div><!--end .content> -->
</div> <!-- end .container-fluid-->
