<% if @active_conf.empty? %>
	<h3>Active Conference Groups: None</h3>
<% else %>
	<h3>Active Conference Groups: </h3>
	<ul>
		<li>
			<% @active_conf.each do |conf| %>
			
				<%= conf %>
				<a href="#" rel="popover" title="<%= conf %>" data-content="XXXXXXX,XXXXXXX,XXXXXXX,XXXXXXX">Participants(<%= @participants_hash[conf].count %>)</a>, 
				Guest PIN: ##### <%#=  %>, 
				Invite contacts through <a href="#">Phone</a> or <a href="#">Text</a> <br/> 
				Notes:_________________________________________________________________
				
			<% end %>
		</li>
	</ul>
<% end %>

<% if @empty_conf.empty? %>
	<h3>Available Conference Lines: None</h3>
<% else %>
	<h3>Available Conference Lines: </h3>
	<ul>
		<li>
			<% @empty_conf.each do |conf| %>
				
				<%= conf %>, Set Guest Pin ____, Invite contacts through <a href="#">Phone</a> or <a href="#">Text</a>

			<% end %>
		</li>
	</ul>
<% end %>