<% if @active_conf.empty? %>
	<h3>Active Conference Groups: None</h3>
<% else %>
	<h3>Active Conference Groups: </h3>
	<ul>
		<li>
			<% @active_conf.each do |conf| %>
				<%= render 'dashboard/activeconference'%>
			<% end %>
		</li>
	</ul>
<% end %>

<% if @empty_conf.empty? %>
	<h3>Available Conference Lines: None</h3>
<% else %>
	<h3>Available Conference Lines: </h3>
	<ul>
		<li>
			<% @empty_conf.each do |conf| %>
				<%= render 'dashboard/emptyconference'%>
			<% end %>
		</li>
	</ul>
<% end %>